.footer-div {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: grey;
    letter-spacing: 4px;
    opacity: 0.6;
    margin-top: 50px
}