.navbar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

.navbar-div p {
    color: #1D1D1B;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
}
