.navbar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    // padding-bottom: 20px;
}

.navbar-div p {
    color: #1D1D1B;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
}
.navbar-link {
    text-decoration: none;
}
.navbar-link p:after {
    content: '';
    position: absolute;
    left: 20%;
    display: inline-block;
    height: 1em;
    width: 50%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.navbar-link p:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.navbar-name {
    font-size: 30px;
}