.resume-job-listing {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 25px;
    padding-bottom: 35px;
    font-family: 'Muli', 'sans-serif';
    letter-spacing: 1px;
    border-bottom: 1px solid grey;

}
.resume-top {
  margin-top: 0px;
}

.resume-job-name {
    font-size: 21px;
    font-weight: 700;
}

.resume-job-listing:last-child {
    border-bottom: none;
}

.resume-ul {
    color: #7c7c7c;
}
.resume-ul li {
    margin-bottom: 15px;
}
.resume-right {
    margin-left: 200px;
}
.resume-left {
    width:300px;
    max-width: 300px;
}

.resume-download {
    text-align: center;
}

.download {
    justify-content: center;
}
.download a {
    text-decoration: none;
    font-size: 20px;
}
