.skills-container {

}

.skills-container img {
   max-width: 100px;
   max-height: 100px;
}

.skill-titles {
   text-align: center;
   font-size: 50px;
   font-family: 'Julius Sans One', sans-serif;
   padding-top: 20px;

}

.group-divs {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    justify-content: space-around;
}

.group-divs:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
    -webkit-mask-size: 200%;
    animation: shining 3s infinite;
}

@-webkit-keyframes shining {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.span-color {
    background-color: #F3F9FE;
}